{% extends 'post/base.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{%  static 'css/base.css' %}">
{% endblock %}

{% block contenido %}
{% if user.is_authenticated %}
    <h1>Usted ya está logeado!!!!</h1>
{% else %}
<div class="container d-flex justify-content-center">
    <div class="row d-inline-flex justify-content-center pt-5 mt-5 mb-5 pe-1" id="container_login">
        <div class="container-md">
            <h2 class="fw-bolder" >Login</h2>
            <form class="form" method="post">
              {% csrf_token %}
                
              {{ form.as_p }}
              
                    
              <button class="btn btn-secondary" type="submit" id="submit">Ingresar</button>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock contenido %}
